<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Lorem Med</h1>
  <h2>We'll ipsum your disease</h2>
</header>

<nav>
  <ul id="nav-left">
   <li><%= link_to 'Strona Główna', root_path %></li>
   <li><%= link_to 'Twoje wizyty', appointments_path %></li>
   <li><%= link_to 'Nasz zespół', doctors_path %></li>
  </ul>
  <section id="nav-right">
    <% if signed_in? %>
      <div class="signed-box"><p>Signed in as: <%= current_user.email %></p></div>
      <div class="signed-box"><%= button_to 'Sign out', sign_out_path, method: :delete %></div>
    <% else %>
      <div class="signed-box"><%= link_to 'Sign in', sign_in_path %></div>
    <% end %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
</section>
</nav>

<%= yield %>

</body>
</html>
